blinker
certifi
charset-normalizer
click
colorama
flake8
Flask
Flask-SQLAlchemy
greenlet
gunicorn
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
mccabe
numpy
packaging
pandas
pluggy
pycodestyle
pyflakes
Pygments
pytest
python-dateutil
python-dotenv
redis
requests
six
spotipy
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug