<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Pressuredle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <div class="container">
        <h1>About This Game</h1>
        <p>
            This game was created with inspiration from both 
            Wordle and Pressure, a roblox horror game.
        </p>
        <p>Pressure was created by Zeal and his development team,
            Wordle was developed by Josh Wardle.</p>
        <br>
        <a href="{{ url_for('game.default') }}">Back to Game</a>
    </div>
</body>
</html>
